/* media screen */

@media only screen and (max-width:1640px) {
    .blog-section {
        padding: 50px 30px;
    }


}

@media only screen and (min-width:999px) {
    .career-partner {
        left: 9px;
        bottom: 182px;
    }
}



/* tab */
@media only screen and (max-width:999px) {


    /* about */

    /* .about .img-box .about-img1 {
  
    }
 

    .about .img-box .about-shape1 {
        display: none;
    }

    .about .img-box {
        height: 95vh;
    }

        */

    /* career */

    .relative-box .shape2 {
        left: 134px;
        top: 12px;
    }
    .relative-box .shape1 {
        left: 94px;
        top: 7px;
    }

    .career-content {
        max-width: 65%;
    }

    /* cta */

    .counselling .right .white-shape4 {
        position: absolute;
        top: 0px;
        right: 0;
        max-width: 36px;
        }


    .counselling .content-box .white-shape5 {
        display: none;
    }

    .content-box p {
        width: 100%;
    }

    .counselling-form input {
        width: 100%;
    }

    .cta .contact-information {
        margin-top: 35px;
    }



    .heading-box {
        padding: 40px 0px 10px 0px;
    }

    .primary-btn {
        padding: 11px 1px;
        width: 123px;
        font-size: 14px;
    }

    .get-in-touch-box {
        border-style: none;
        padding-left: 0;
        margin-top: 50px;
        padding: 10px 20px;
    }

    .contact-map-section iframe {
        height: 400px;
        margin-bottom: -8px;
    }

    .ftr-sm-icons {
        margin-bottom: 10px;
    }

    .ftr-links-head {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .footer-hr {
        margin-top: 40px;
    }

    .edumetfis-navbar .nav-left-btn {
        display: none;
    }

    .blog-section {
        padding: 50px 0;
    }

    .blog-inner-pg-section {
        padding: 50px 10px;
    }

    .blog-inner-pg-section .blog-img img {
        height: 340px;
    }


    .blog .relative-box span {
        bottom: -62px;
        height: 83px;
    }


    .related-blogs-btm {
        padding: 0px;
    }

    .our-partners-section .partners-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-partners-section .partners-img img {
        width: 330px;
        margin-bottom: 20px;
    }

    .investors-section .investors-img {
        grid-template-columns: repeat(3, 1fr);

    }

    .investors-section .investors-img img {
        margin-bottom: 20px;
    }

    .career-section .career-box {
        flex-direction: column;
        align-items: start;
    }

    .career-section .career-box .right-section .apply-btn {
        margin-top: 30px;
        display: block;
    }

    .career-section .career-box .left-section p {
        font-size: 14px;
    }

    /* footer */
    .footer-news-letter .footer-shape2 {
        position: absolute;
        right: 77%;
        bottom: -41px;
    }

    #testimonial-carousel .item {
        padding: 40px 0 0;
    }

    #testimonial-carousel .item .person {
        max-width: 71px;
        right: 43px;
        top: 7px;
    }

    .sports .sports-img2 {
        display: none;
    }
    

}


/* ==========MOBILE============= */


@media only screen and (max-width:767px) {


    /* banner */

    #banner .banner-item .banner-content {
        gap: 3px;
    }

    #banner .banner-item .banner-content p {
        width: 100%;
        font-size: 14px;
    }

    #banner .banner-item .banner-content h1 {
        font-size: 32px;
    }

    #banner .banner-item .banner-content h1 span {
        font-size: 20px;
    }
    .banner-btn {
        padding: 4px 15px;
    }

    .pg-banner {
        min-height: 220px;
        padding-top: 70px;
    }

    .book-icon {
        top: 18%;
        left: 10%;
        width: 40px;
    }

    .cap-icon {
        width: 55px;
    }

    .edumetfis-navbar .nav-left-btn {
        display: none;
    }

    .contact-pg-form-section {
        padding: 50px 5px;
    }

    .contact-pg-form-section .contact-form {
        padding: 50px 20px 20px;
    }

    .contact-pg-form-section .contact-form .head {
        font-size: 26px;
    }

    .contact-form .input-form {
        margin-top: 20px;
    }

    .contact-form .contact-btn {
        margin-top: 0;
    }

    .get-in-touch-box {
        border-style: none;
        padding: 40px 20px;
    }

    .pg-banner .head {
        font-size: 22px;
        line-height: 34px;
    }

    .pg-banner .pages-link .non-link {
        font-size: 14px;
    }

    .pg-banner .pages-link .active-link {
        font-size: 14px;
    }

    .contact-map-section iframe {
        margin-top: -120px;
        height: 320px;
        margin-bottom: -8px;
    }

    /* about */

    .about .img-box {
        height: 55vh;
    }

    .counter-box {
        position: absolute;
        top: 200px;
        right: 224px;
        z-index: 111;
    }

    .counter-box div img {
        position: absolute;
        width: 110px;
    }

    .about .img-box .about-img1 {
        top: -74px !important;
        right: 68px !important;
        max-width: 233px !important;
    }

    .about .img-box .about-img2 {
        left: 38px !important;
        top: 148px !important;
        max-width: 145px;
    }

    .about .img-box .about-shape1 {
        top: -73px !important;
        right: 71px !important;
        max-width: 234px !important;
    }

    .feature {
        margin: 5px;
        padding: 37px;

    }

    /* career */

    .career-content {
        max-width: 100%;
        padding-top: 7px;
    }

    /* mentor */

    .mentor .girl-shape {
        padding: 13px;
    }

    .sports .sports-img1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer-news-letter h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .footer-news-letter .input-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-news-letter .input-box input {
        width: 100%;
        padding: 8px 20px;
    }

    .footer-news-letter {
        padding: 40px 20px;
        background-color: #ffffff;
        border-radius: 20px;
        margin-bottom: 40px;
    }

    .footer-news-letter .input-box a {
        margin-left: 0;
        margin-top: 10px;
        font-size: 14px;
        padding: 8px 25px;
    }

    .footer-section {
        padding: 60px 10px 10px;
    }

    .footer-news-letter .footer-shape1 {
        display: none;
    }

    .footer-news-letter .footer-shape2 {
        display: none;
    }

    .footer-news-letter .footer-shape3 {
        display: none;
    }

    .footer-news-letter h3 span {
        font-size: 25px;
    }

    .footer-news-letter h3 {
        font-size: 15px;
    }

    .footer-news-letter .input-box input {
        width: 100%;
        padding: 0px 2px;
    }

    .footer-news-letter .input-box div {
        padding: 3px;
    }

    .footer-news-letter p {
        margin-top: 6px;
        font-size: 14px;
    }

    

    .copyrigt-text {
        font-size: 14px;
    }

    .blog-section {
        padding: 50px 10px;
    }

    .blog-inner-pg-section .heading {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        margin-top: 10px;
    }

    .blog-inner-pg-section .blog-img img {
        height: 240px;
    }

    .blog-inner-pg-section .blog-content {
        margin-bottom: 15px;
    }

    .related-blogs-btm {
        margin-bottom: 40px;
    }

    .our-partners-section .partners-img img {
        width: 160px;
        margin-bottom: 20px;
    }

    .investors-section .investors-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .partners-investors-section {
        padding: 50px 10px;
    }

    .our-partners-section {
        padding-top: 50px;
    }

    .career-section {
        padding: 50px 10px;
    }

    .career-section .career-box .left-section p {
        font-size: 14px;
    }

    .career-section .career-box .job-prefernces {
        font-size: 14px;
    }

    .career-section .career-box .right-section .apply-btn {
        margin-top: 20px;
        display: block;
        font-size: 14px;
    }

    .relative-box .career-content .sm-shape3 {
        right: 12px;
        bottom: 154px;
    }

    .cta .contact-information .shape1 {
        top: -13px;
        right: 30px;
        max-width: 51px;
    }

    .cta .contact-information .shape2 {
        top: -23px;
        max-width: 44px;
        right: 69px;
    }

    .cta .contact-information {
        margin-top: 35px;
    }

    .career-index {
        background-image: none;
    }

    .relative-box .shape1 {
        display: none;
    }

    .relative-box .shape2 {
        display: none;
    }

    .flag img {
        max-width: 40px;
    }

    .section-top-head {
        font-size: 15px;
    }

    .section-head {
        font-size: 24px;
    }

    .career-content p {
        font-size: 14px;
    }

    .relative-box .career-content .sm-shape3 {
        display: none;
    }

    .relative-box .career-content .sm-shape2 {
        display: none;
    }

    .relative-box .career-content .sm-shape3 {
        display: none;
    }

    /* courses */

    .courses {
        padding: 0;
    }

    .courses .sm-shape2 {
        right: 36%;
        top: 160px;
    }

    .courses .sm-shape1 {
        right: 82px;
        top: 4px;
    }

    .courses .sm-shape3 {
        right: 43px;
        bottom: 125px;
    }

    .courses .right {
        padding: 50px 0px 20px 0px;
    }

    .course-carousel-box {
        padding: 34px 0px 0px 0px;
    }

    .counselling .white-shape2 {
        display: none;
    }

    .counselling .right .white-shape4 {
        display: none;
    }

    .counselling .white-shape1 {
        display: none;
    }


    .counselling .white-shape3 {
        display: none;
    }



    .banner-section {
        padding: 0px;
    }

    .counselling .content-box {
        height: 145vh;
    }

    .counselling .content-box .white-shape5 {
        display: none;
    }

    .section-top-head-white {
        font-size: 15px;
    }

    .section-head-white {
        font-size: 24px;
    }

    .content-box p {
        width: 100%;
    }

    .counselling-form input {
        width: 100%;
    }

    .career-partner h5 {
        font-size: 14px;
    }

    .right .btn-box {
        text-align: center;
    }

    .mentor .relative-box .shape1 {
        left: -7px;
        max-width: 120px;
        top: 285px;
    }

    /* mentor */

    .mentor .girl-shape {
        padding: 13px;
    }

    .event-img2 {
        display: none;
    }

    .event .red-shape{
        display: none;
    }
    .event .black-shape{
        display: none;
    }
    
    .event .orange-shape{
        display: none;
    }

    .sports .sports-img1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sports .sports-img2 {
        display: none;
    }
    


    /* sports */

    .sports .orange-shape {
      display: none;
    }

    .sports .red-shape {
        display: none;
    }

    .sports .black-shape {
        display: none;
    }

    /* testimonial */

    #testimonial-carousel .item {
        padding: 40px 0 0;
    }
    #testimonial-carousel .item .person {
        max-width: 71px;
        right: 43px;
        top: 7px;
    }

    /* ABOUT PAGE */

    .pg-about {
        overflow-x: hidden;
    }

    .pg-about .about2 {
        left: 23px;
        top: -115px;
    }


}